.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 30;
  // .header__wrapper

  &__wrapper {
    height: 70px;
    display: flex;
    align-items: center;
    @media (max-width: 1024px) {
      justify-content: center;
    }
  }

  // .header__logo

  &__logo {
    max-width: 150px;
    img {
      max-width: 100%;
      display: block;
    }
    // .header__logo_md

    &_md {
      display: none;
    }
    @media (max-width: 1024px) {
      display: none;
      &_md {
        display: block;
      }
    }
  }

}
