.scene-five {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fff;
  z-index: 6;
  position: relative;
  overflow: hidden;
  pointer-events: all;
  // .scene-five__wrapper

  &__wrapper {
    flex-grow: 1;
  }

  // .scene-five__hero

  &__hero {
    height: 100vh;
    display: flex;
    align-items:  center;
    justify-content: center;
    font-size: 72px;
    line-height: 83.5%;
    font-family: "Gilroy-Black", sans-serif;
    background-color: #EDEDED;
    span {
      max-width: 600px;
      width: 100%;
      text-align: center;
    }
    transform: scale(.3);
    transform-origin: center center;
  }

  // .scene-five__content

  &__content {
    padding: 100px 0;
    
    @media (max-width: 1024px) {
      padding: 100px 0 130px;
    }
  }

  // .scene-five__title

  &__title {
    font-size: 17px;
    line-height: 20px;
    color: #1D1D1F;
    margin-bottom: 15px;
    font-family: "Roboto-Bold", sans-serif;
  }
}
.scene-four {

  // .scene-four__navigation

  &__navigation {
  }
}

.navigation {
  &.scene-five__navigation {
    z-index: 3;
    top: 6%;
    .navigation__list-link {
      animation: none;
      transition: all .3s ease;
      &.active {
        color: #414141;
        opacity: 1;
      }
    }
    .navigation__line {
      background: #CFCFCF;
      &::before {
        top: 400px;
        width: 100%;
        height: 100px;
        background-color: #0A9F30;
        animation: none;
      }
    }
    @media (max-width: 1024px) {
      display: none;
    }
  }
} 

.scene-content {

  // .scene-content__item

  &__item {
    display: flex;
    margin-bottom: 65px;
    &:last-child {
      margin-bottom: 0;
    }

    &.active {
      .scene-content__column-wrapper {
        display: block;
      }
      .scene-content__column-trigger {
        &::before {
          transform: rotate(180deg);
        }
      }
    }

    @media (max-width: 1024px) {
      margin-bottom: 2px;
    }
    &_3 {
      .scene-content__label {
        &>span {
          font-size: 36px;
          span {
            color: #000;
          }
        }
        p {
          span {
            font-size: 72px;
            line-height: 80%;
          }
        }
      }
    }
    &_4 {
      .scene-content__label {
        &>span {
          font-size: 36px;
          span {
            color: #000;
          }
        }
        p {
          span {
            font-size: 72px;
            line-height: 80%;
          }
        }
      }
    }
    &_5 {
      .scene-content__label {
        line-height: 80%;
        &>span {
          line-height: 100%;
        }
      }
    }
  }

  // .scene-content__column

  &__column {
    &:first-child {
      max-width: 280px;
      width: 100%;
      text-align: right;
      margin-right: 18px;

      @media (max-width: 1024px) {
        display: none;
      }
    }
    &:last-child {
      max-width: 580px;
      width: 100%;

      @media (max-width: 1024px) {
        background-color: #fff;
        max-width: 100%;
      }
    }
  }

    // .scene-content__column-trigger

    &__column-trigger {
      background-color: #0A9F30;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 43.6482px;
      line-height: 83.5%;
      color: #fff;
      font-family: "Gilroy-Black", sans-serif;
      padding-top: 5px;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        right: 11px;
        top: 14px;
        width: 32px;
        height: 32px;
        background-image: url(../img/arrow.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
      display: none;
      
      @media (max-width: 1024px) {
        display: flex;
      }
    }

    // .scene-content__column-wrapper

    &__column-wrapper {
      @media (max-width: 1024px) {
        padding: 30px;
        display: none;
      }
    }

  // .scene-content__num

  &__num {
    color: #DADADA;
    font-size: 144px;
    line-height: 83.5%;
    font-family: "Gilroy-Medium", sans-serif;
  }

  // .scene-content__label

  &__label {
    color: #0A9F30;
    font-size: 72px;
    line-height: 50%;
    font-family: "Gilroy-Bold", sans-serif;
    text-transform: uppercase;
    p {
      margin: 0;
      &>span {
        color: #000;
        font-size: 36px;
        line-height: 90%;
        display: block;
        margin-top: 7px;
      }
    }
  }

  // .scene-content__list

  &__list {
    font-size: 17px;
    line-height: 20px;
    color: #000;
    font-family: "Roboto-Regular", sans-serif;
  }

  // .scene-content__list-item

  &__list-item {
    margin-bottom: 20px;
    p {
      margin: 0;
    }
    span {
      font-family: "Roboto-Bold", sans-serif;
    }
    &:last-child {
      margin-bottom: 0;
    }

    // .scene-content__list-item_bonus

    &_bonus {
    }

    // .scene-content__list-item_max

    &_max {
    }

    // .scene-content__list-item_law

    &_law {
    }
  }

  // .scene-content__list-link

  &__list-link {
    color: #0A9F30;
    text-decoration: underline;
  }

  // .scene-content__list-box

  &__list-box {
    p {
      margin: 0;
    }
  }


		// .scene-content__footer

		&__footer {
      max-width: 680px;
      width: 100%;
      margin-top: 90px;
      margin: 0 auto;

      @media(max-width: 1024px) {
        max-width: 300px;
        margin-top: 70px;
      }
		}

		// .scene-content__footer-title

		&__footer-title {
      font-size: 96px;
      line-height: 83.5%;
      color: #000;
      font-family: "Gilroy-Heavy", sans-serif;
      span {
        color: #EDEDED;
        -webkit-text-stroke: 2px #000;
      }

      @media(max-width: 1024px) {
        font-size: 36px;
      }
		}

		// .scene-content__footer-subtitle

		&__footer-subtitle {
      font-size: 72px;
      line-height: 83.5%;
      font-family: "Gilroy-Black", sans-serif;
      color: #0A9F30;
      margin-top: 15px;
      margin-left: 100px;

      @media(max-width: 1024px) {
        font-size: 41.9255px;
        margin-left: 0;
      }
		}
}
