.scene-three-preview {
  width: 100%;
  display: flex;
  height: 200vh;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
  overflow: hidden;
  position: sticky;
  top: 0;
  margin-top: -200vh;
  z-index: -1;

  #canvas4 {
    position: relative;
    max-width: 100%;
    max-height: 100%;
  }
  // .scene-three-preview__wrapper

  &__wrapper {
  }
}


.scene-three {
  width: 100%;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fff;
  overflow: hidden;
  z-index: 6;
  position: sticky;
  top: 0;

  // .scene-three__navigation

  &__navigation {
  }

  // .scene-three__wrapper

  &__wrapper {
    position: relative;
    flex-grow: 1;
    background-color: #1D1D1F;
    display: flex;  
    justify-content: center;
    align-items: center;
  }

  // .scene-three__title

  &__title {
    font-family: "Gilroy-Black", sans-serif;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 35px;
  }

  // .scene-three__num

  &__num {
    position: absolute;
    top: -90%;
    left: 25%;
    color: #414141;
    font-size: 343.2px;
    line-height: 83.5%;
    font-family: "Gilroy-Medium", sans-serif;
    z-index: 1;
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 53%;
      background-color: #1D1D1F;
      width: 100%
    }
  }

  // .scene-three__label

  &__label {
    font-size: 96px;
    line-height: 83.5%;
    color: #28D053;    
    text-transform: uppercase;
    text-align: center;
    span {
      color: #fff;
    }
    z-index: 2;
    position: relative;
    margin-bottom: 15px;
  }

  // .scene-three__subtitle

  &__subtitle {
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;
  }

  // .scene-three__subtitle-word

  &__subtitle-word {

    // .scene-three__subtitle-word_1

    &_1 {
      font-size: 96px;
      line-height: 83.5%;
      color: #fff;
      opacity: 0;
    }

    // .scene-three__subtitle-word_2

    &_2 {
      font-size: 96px;
      line-height: 83.5%;
      color: #414141;
      text-transform: lowercase;
      opacity: 0;
      transform: translateY(500%);
    }

    // .scene-three__subtitle-word_3

    &_3 {
      font-size: 96px;
      line-height: 83.5%;
      -webkit-text-stroke: 3px #fff;
      opacity: 0;
      transform: translateX(55%);
    }
  }

  // .scene-three__text

  &__text {
    max-width: 980px;
    width: 100%;
    color: #fff;
    font-size: 17px;
    line-height: 20px;
    font-family: "Roboto-Regular", sans-serif;
    text-align: center;
    margin: 0 auto;
    opacity:0;
    p {
      margin: 0;
    }
  }
}

.navigation {
  &.scene-three__navigation {
    z-index: 3;
    top: 50%;
    .navigation__list-link {
      animation: none;
      transition: all .3s ease;
      &.active {
        color: #414141;
        opacity: 1;
      }
    }
    .navigation__line {
      background: #414141;
      &::before {
        top: 200px;
        width: 100%;
        height: 100px;
        background-color: #0A9F30;
        animation: none;
      }
    }
    @media (max-width: 1024px) {
      display: none;
    }
  }
}  

.scene-three-trigger {
  height: 100vh;
  opacity: 0;
  background-color: #fff;
  pointer-events: none;
  position: relative;
  overflow: hidden;
}

.scene-three-postview {
  width: 100%;
  height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
  overflow: hidden;
  z-index: 6;
  position: sticky;
  top: 0;
  
  @media (max-width: 1366px) {
    height: 300vh;
  }
  
  #canvas5 {
    position: relative;
    max-width: 100%;
    max-height: 100%;
  }
  img {
    position: absolute;
    left: calc(46% + 17px);
    top: calc(11% + 3px);
    max-width: 100%;
    display: block;
    transform: scale(1.2);
    opacity: 0;
    @media (min-width: 1921px) {
      left: calc(46% + 43px);
      top: calc(4% - 3px);
    }
    @media (min-width: 1920px) and (min-height: 1199px) {
      left: calc(45% + 35px);
      top: calc(9% + 10px);
    }
    @media (max-width: 1600px) and (min-height: 900px) {
      left: calc(45% + 30px);
      top: calc(10% + 10px);
    }
    @media (max-width: 1440px) and (min-height: 900px) {
      left: calc(45% + 25px);
      top: calc(8% + 10px);
    }
    @media (max-width: 1366px) {
      left: calc(45% + 25px);
      top: calc(6% + 10px);
    }
  }

  // .scene-three-postview__wrapper

  &__wrapper {
  }
  @media (min-width: 1921px) {
    height: 400vh;
  }
}

.scene-three-trigger_2 {
  height: 250vh;
  opacity: 0;
  background-color: #fff;
  pointer-events: none;
  position: relative;
  overflow: hidden;
}