@font-face {
  font-family: "Gilroy-Black";
  font-display: swap;
  src: url("../fonts/Gilroy-Black.woff") format("woff"), url("../fonts/Gilroy-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Medium";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Bold";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Bold";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Medium";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Heavy";
  font-display: swap;
  src: url("../fonts/Gilroy-Heavy.woff") format("woff"), url("../fonts/Gilroy-Heavy.woff2") format("woff2");
  font-weight: 999;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Regular";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Regular";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  font-size: 14px;
  font-weight: 400;
  font-family: monospace;
  font-family: "Gilroy-Regular", sans-serif;
}

body.lock {
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.page {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 1210px;
  padding: 0 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  position: relative;
}

button {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input::-ms-clear {
  display: none;
}

input:focus::-webkit-input-placeholder {
  font-size: 0;
}

input:focus::-moz-placeholder {
  font-size: 0;
}

input:focus:-ms-input-placeholder {
  font-size: 0;
}

input:focus::-ms-input-placeholder {
  font-size: 0;
}

input:focus::placeholder {
  font-size: 0;
}

.scrollmagic-pin-spacer {
  padding: 0 !important;
  pointer-events: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 30;
}

.header__wrapper {
  height: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  max-width: 150px;
}

.header__logo img {
  max-width: 100%;
  display: block;
}

.header__logo_md {
  display: none;
}

.hero {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-image: url(../img/hero/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 131px 0 160px;
  position: relative;
  overflow: hidden;
  height: 100vh;
  background-color: #000;
}

.hero__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.hero__title {
  color: #ECEAEC;
  font-family: "Gilroy-Heavy", sans-serif;
  font-size: 96px;
  line-height: 61.5%;
  text-align: center;
  max-width: 780px;
  width: 100%;
  text-transform: uppercase;
  -webkit-animation: heroTitle .6s ease forwards;
          animation: heroTitle .6s ease forwards;
}

.hero__title p {
  font-size: 64px;
  line-height: 53,44px;
  margin: 0;
}

.hero__title p span {
  color: #28D053;
}

@-webkit-keyframes heroTitle {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes heroTitle {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.hero__subtitle {
  font-size: 64px;
  line-height: 83.5%;
  color: #ECEAEC;
  margin: auto 0 70px 0;
  font-family: "Gilroy-Heavy", sans-serif;
  -webkit-animation: heroSubtitle .6s ease forwards;
          animation: heroSubtitle .6s ease forwards;
}

@-webkit-keyframes heroSubtitle {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes heroSubtitle {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.tip-hero {
  max-width: 365px;
  width: 100%;
  position: relative;
}

.tip-hero__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tip-hero__mouse {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-55%, -50%);
      -ms-transform: translate(-55%, -50%);
          transform: translate(-55%, -50%);
}

.tip-hero__word {
  font-family: "Gilroy-Heavy", sans-serif;
  font-size: 36px;
  line-height: 83.5%;
  letter-spacing: -4px;
  text-transform: uppercase;
}

.tip-hero__word span {
  display: inline-block;
}

.tip-hero__word_1 {
  color: #ECEAEC;
}

.tip-hero__word_1 .tip-hero__letter_1 {
  -webkit-animation: heroLetter1 2s ease forwards;
          animation: heroLetter1 2s ease forwards;
}

.tip-hero__word_1 .tip-hero__letter_2 {
  -webkit-animation: heroLetter2 2s ease forwards;
          animation: heroLetter2 2s ease forwards;
}

.tip-hero__word_1 .tip-hero__letter_3 {
  -webkit-animation: heroLetter3 2s ease forwards;
          animation: heroLetter3 2s ease forwards;
}

.tip-hero__word_1 .tip-hero__letter_4 {
  -webkit-animation: heroLetter4 2s ease forwards;
          animation: heroLetter4 2s ease forwards;
}

.tip-hero__word_1 .tip-hero__letter_5 {
  -webkit-animation: heroLetter5 2s ease forwards;
          animation: heroLetter5 2s ease forwards;
}

.tip-hero__word_2 {
  -webkit-text-stroke: 1px #fff;
}

.tip-hero__word_2 .tip-hero__letter_1 {
  -webkit-animation: heroLetter1 3s ease forwards;
          animation: heroLetter1 3s ease forwards;
}

.tip-hero__word_2 .tip-hero__letter_2 {
  -webkit-animation: heroLetter2 3s ease forwards;
          animation: heroLetter2 3s ease forwards;
}

.tip-hero__word_2 .tip-hero__letter_3 {
  -webkit-animation: heroLetter3 3s ease forwards;
          animation: heroLetter3 3s ease forwards;
}

.tip-hero__word_2 .tip-hero__letter_4 {
  -webkit-animation: heroLetter4 3s ease forwards;
          animation: heroLetter4 3s ease forwards;
}

.tip-hero__word_2 .tip-hero__letter_5 {
  -webkit-animation: heroLetter5 3s ease forwards;
          animation: heroLetter5 3s ease forwards;
}

@-webkit-keyframes heroLetter1 {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes heroLetter1 {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes heroLetter2 {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
    -webkit-transform: translateY(400px);
            transform: translateY(400px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes heroLetter2 {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
    -webkit-transform: translateY(400px);
            transform: translateY(400px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes heroLetter3 {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
    -webkit-transform: translateY(360px);
            transform: translateY(360px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes heroLetter3 {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
    -webkit-transform: translateY(360px);
            transform: translateY(360px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes heroLetter4 {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
    -webkit-transform: translateY(340px);
            transform: translateY(340px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes heroLetter4 {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
    -webkit-transform: translateY(340px);
            transform: translateY(340px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes heroLetter5 {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
    -webkit-transform: translateY(400px);
            transform: translateY(400px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes heroLetter5 {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
    -webkit-transform: translateY(400px);
            transform: translateY(400px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 60px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  overflow: hidden;
}

.navigation__line {
  width: 2px;
  min-height: 100%;
  background-color: #414141;
  margin-right: 16px;
  position: relative;
}

.navigation__line::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #0A9F30;
  -webkit-animation: navLine 3600ms linear infinite forwards 3s;
          animation: navLine 3600ms linear infinite forwards 3s;
}

.navigation__linst-link {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
  color: #414141;
  font-size: 36px;
  line-height: 83.5%;
  font-family: "Gilroy-Medium", sans-serif;
  opacity: 0;
}

.navigation__linst-link span {
  display: block;
  max-width: 100px;
  font-size: 16px;
  line-height: 100%;
}

.navigation__linst-link:hover {
  opacity: 1;
}

.navigation__linst-link_1 {
  -webkit-animation: navLink1 3600ms linear 3s infinite;
          animation: navLink1 3600ms linear 3s infinite;
}

.navigation__linst-link_2 {
  -webkit-animation: navLink2 3600ms linear 3s infinite;
          animation: navLink2 3600ms linear 3s infinite;
}

.navigation__linst-link_3 {
  -webkit-animation: navLink3 3600ms linear 3s infinite;
          animation: navLink3 3600ms linear 3s infinite;
}

.navigation__linst-link_4 {
  -webkit-animation: navLink4 3600ms linear 3s infinite;
          animation: navLink4 3600ms linear 3s infinite;
}

.navigation__linst-link_5 {
  -webkit-animation: navLink5 3600ms linear 3s infinite;
          animation: navLink5 3600ms linear 3s infinite;
}

@-webkit-keyframes navLine {
  0% {
    top: -98px;
    height: 100px;
  }

  20% {
    top: 0px;
    height: 100px;
  }

  40% {
    top: 130px;
    height: 100px;
  }

  60% {
    top: 260px;
    height: 100px;
  }

  80% {
    top: 390px;
    height: 100px;
  }

  100% {
    top: 500px;
    height: 100px;
  }
}

@keyframes navLine {
  0% {
    top: -98px;
    height: 100px;
  }

  20% {
    top: 0px;
    height: 100px;
  }

  40% {
    top: 130px;
    height: 100px;
  }

  60% {
    top: 260px;
    height: 100px;
  }

  80% {
    top: 390px;
    height: 100px;
  }

  100% {
    top: 500px;
    height: 100px;
  }
}

@-webkit-keyframes navLink1 {
  0% {
    opacity: 0;
  }

  16% {
    opacity: 1;
  }

  33% {
    opacity: 0;
  }
}

@keyframes navLink1 {
  0% {
    opacity: 0;
  }

  16% {
    opacity: 1;
  }

  33% {
    opacity: 0;
  }
}

@-webkit-keyframes navLink2 {
  16% {
    opacity: 0;
  }

  33% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@keyframes navLink2 {
  16% {
    opacity: 0;
  }

  33% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@-webkit-keyframes navLink3 {
  33% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  66% {
    opacity: 0;
  }
}

@keyframes navLink3 {
  33% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  66% {
    opacity: 0;
  }
}

@-webkit-keyframes navLink4 {
  50% {
    opacity: 0;
  }

  66% {
    opacity: 1;
  }

  83% {
    opacity: 0;
  }
}

@keyframes navLink4 {
  50% {
    opacity: 0;
  }

  66% {
    opacity: 1;
  }

  83% {
    opacity: 0;
  }
}

@-webkit-keyframes navLink5 {
  66% {
    opacity: 0;
  }

  83% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes navLink5 {
  66% {
    opacity: 0;
  }

  83% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.mouse-wheel {
  -webkit-animation: mouseAnimation 1.6s linear infinite normal 3s;
          animation: mouseAnimation 1.6s linear infinite normal 3s;
}

@-webkit-keyframes mouseAnimation {
  13% {
    -webkit-transform: translateY(24px);
            transform: translateY(24px);
  }

  100% {
    -webkit-transform: translateY(24px);
            transform: translateY(24px);
  }
}

@keyframes mouseAnimation {
  13% {
    -webkit-transform: translateY(24px);
            transform: translateY(24px);
  }

  100% {
    -webkit-transform: translateY(24px);
            transform: translateY(24px);
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 30;
}

.footer.active {
  height: 97%;
}

.footer.active .footer__form {
  display: block;
}

.footer__btn {
  position: relative;
}

.footer__btn::before {
  content: '';
  position: absolute;
  height: 9px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #21aa44;
  -webkit-filter: drop-shadow(0px -4px 15px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px -4px 15px rgba(0, 0, 0, 0.25));
}

.footer__btn-trigger {
  text-transform: uppercase;
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 52px;
  max-width: 280px;
  width: 100%;
  margin: 0 auto;
  color: #fff;
  font-size: 18px;
  line-height: 83.5%;
  font-family: "Gilroy-Bold", sans-serif;
  cursor: pointer;
  background-image: url(../img/footer-btn.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-filter: drop-shadow(0px -4px 15px rgba(0, 0, 0, 0.45));
          filter: drop-shadow(0px -4px 15px rgba(0, 0, 0, 0.45));
}

.footer__form {
  background-color: #fff;
  min-height: 100vh;
  display: none;
}

.scene-one {
  width: 100%;
  height: 200vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #fff;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.scene-one__wrapper {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.scene-one__canvas {
  position: absolute;
  top: 0;
  right: 0;
}

.scene-one__canvas #canvas1 {
  max-width: 620px;
  max-height: 860px;
  -webkit-transform: translateY(-5%);
      -ms-transform: translateY(-5%);
          transform: translateY(-5%);
}

.scene-one__content {
  max-width: 780px;
  width: 100%;
  position: relative;
  -webkit-transform: translateY(60%);
      -ms-transform: translateY(60%);
          transform: translateY(60%);
}

.scene-one__title {
  -webkit-transform: translateY(50%) scale(1);
      -ms-transform: translateY(50%) scale(1);
          transform: translateY(50%) scale(1);
}

.scene-one__box {
  position: absolute;
  left: 100%;
  top: -100px;
  background-color: #0A9F30;
  z-index: 3;
  width: 106px;
  height: 260px;
  overflow: hidden;
}

.scene-one__box-title {
  font-size: 72px;
  line-height: 83.5%;
  color: #fff;
  max-width: 645px;
  font-family: "Gilroy-Black", sans-serif;
  padding: 25px 35px 0 35px;
  max-width: 710px;
  width: 100%;
  opacity: 0;
  -webkit-transform: translateX(30%);
      -ms-transform: translateX(30%);
          transform: translateX(30%);
}

.scene-one__box-num {
  font-size: 397.85px;
  line-height: 83.5%;
  color: #EDEDED;
  margin: 70px 0 0 85px;
  opacity: 0;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  position: relative;
}

.scene-one__box-num::before {
  position: absolute;
  content: '';
  left: -40px;
  top: 45%;
  width: 42px;
  height: 42px;
  background-image: url(../img/arrow-down.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.player-info {
  max-width: 196px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 18%;
  color: #000;
  font-style: italic;
  opacity: 0;
}

.player-info__name {
  font-size: 20px;
  line-height: 83.5%;
  font-family: "Gilroy-Bold", sans-serif;
  margin-bottom: 9px;
}

.player-info__club {
  font-size: 18px;
  line-height: 83.5%;
  font-family: "Gilroy-Regular", sans-serif;
}

.player-info::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #EDEDED;
}

.player-info::after {
  content: '';
  position: absolute;
  bottom: -65%;
  right: -18%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  height: 1px;
  width: 41px;
  background-color: #EDEDED;
}

.scene-title {
  z-index: 5;
  position: relative;
  margin-bottom: 70px;
  -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
          transform-origin: left center;
}

.scene-title::before {
  content: '';
  height: 9px;
  width: 20%;
  background-color: #0A9F30;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.scene-title__text {
  font-size: 96px;
  line-height: 83.5%;
  color: #000;
  font-family: "Gilroy-Bold", sans-serif;
  z-index: 2;
  position: relative;
}

.scene-title__text span {
  display: block;
  color: #0A9F30;
}

.scene-title__num {
  position: absolute;
  right: 0;
  top: -95px;
  font-size: 343.2px;
  line-height: 83.5%;
  color: #EDEDED;
  font-family: "Gilroy-Regular", sans-serif;
}

.scene-list {
  max-width: 780px;
  width: 100%;
}

.scene-list__item {
  font-size: 17px;
  line-height: 20px;
  font-family: "Roboto-Regular", sans-serif;
  color: #1D1D1F;
  margin-bottom: 20px;
  position: relative;
  max-width: 500px;
}

.scene-list__item.active::before {
  content: '';
  position: absolute;
  right: 0;
  top: -5px;
  width: 27px;
  height: 27px;
  background-image: url(../img/check.svg);
}

.scene-list__item:last-child {
  margin-bottom: 0;
}

.scene-list__item a {
  color: #0A9F30;
}

.scene-list__item span {
  font-family: "Roboto-Bold", sans-serif;
}

.scene-list__link {
  color: #0A9F30;
  text-decoration: underline;
}

.scene-list__link_md {
  display: none;
}

.navigation.scene-one__navigation {
  top: 25%;
}

.navigation.scene-one__navigation .navigation__linst-link {
  -webkit-animation: none;
          animation: none;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.navigation.scene-one__navigation .navigation__linst-link.active {
  color: #414141;
  opacity: 1;
}

.navigation.scene-one__navigation .navigation__line {
  background: #EDEDED;
}

.navigation.scene-one__navigation .navigation__line::before {
  width: 100%;
  height: 100px;
  background-color: #0A9F30;
  -webkit-animation: none;
          animation: none;
}

.scene-one-trigger {
  height: 100vh;
  opacity: 0;
  z-index: 2;
  background-color: #fff;
  pointer-events: none;
  position: relative;
}

.scene-two {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 200vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #fff;
  overflow: hidden;
  z-index: 3;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.scene-two #canvas2 {
  max-width: 620px;
  max-height: 860px;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(10px, -35%);
      -ms-transform: translate(10px, -35%);
          transform: translate(10px, -35%);
}

.scene-two #canvas3 {
  max-width: 360px;
  max-height: 210px;
  z-index: 6;
  position: relative;
}

.scene-two__wrapper {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.scene-two__box {
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
}

.scene-two__title {
  margin-top: 30px;
  -webkit-transform: translateX(20%);
      -ms-transform: translateX(20%);
          transform: translateX(20%);
}

.scene-two .scene-title {
  max-width: 500px;
}

.scene-two .scene-title__text {
  font-size: 61.9441px;
  line-height: 83.5%;
}

.scene-two .scene-title__num {
  font-size: 221.45px;
  line-height: 83.5%;
}

.scene-two__list {
  -webkit-transform: translateY(30%);
      -ms-transform: translateY(30%);
          transform: translateY(30%);
  opacity: 0;
}

.navigation.scene-two__navigation {
  top: 25%;
}

.navigation.scene-two__navigation .navigation__linst-link {
  -webkit-animation: none;
          animation: none;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.navigation.scene-two__navigation .navigation__linst-link.active {
  color: #414141;
  opacity: 1;
}

.navigation.scene-two__navigation .navigation__line {
  background: #EDEDED;
}

.navigation.scene-two__navigation .navigation__line::before {
  top: 100px;
  width: 100%;
  height: 100px;
  background-color: #0A9F30;
  -webkit-animation: none;
          animation: none;
}

.scene-two-trigger {
  height: 200vh;
  opacity: 0;
  z-index: 2;
  background-color: #fff;
  pointer-events: none;
  position: relative;
  overflow: hidden;
}

.scene-three-preview {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 200vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #fff;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-top: -200vh;
  z-index: -1;
}

.scene-three-preview #canvas4 {
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

.scene-three {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #fff;
  overflow: hidden;
  z-index: 6;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.scene-three__wrapper {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #1D1D1F;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.scene-three__title {
  font-family: "Gilroy-Black", sans-serif;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 35px;
}

.scene-three__num {
  position: absolute;
  top: -90%;
  left: 25%;
  color: #414141;
  font-size: 343.2px;
  line-height: 83.5%;
  font-family: "Gilroy-Medium", sans-serif;
  z-index: 1;
}

.scene-three__num::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 53%;
  background-color: #1D1D1F;
  width: 100%;
}

.scene-three__label {
  font-size: 96px;
  line-height: 83.5%;
  color: #28D053;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
  position: relative;
  margin-bottom: 15px;
}

.scene-three__label span {
  color: #fff;
}

.scene-three__subtitle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 2;
  position: relative;
}

.scene-three__subtitle-word_1 {
  font-size: 96px;
  line-height: 83.5%;
  color: #fff;
  opacity: 0;
}

.scene-three__subtitle-word_2 {
  font-size: 96px;
  line-height: 83.5%;
  color: #414141;
  text-transform: lowercase;
  opacity: 0;
  -webkit-transform: translateY(500%);
      -ms-transform: translateY(500%);
          transform: translateY(500%);
}

.scene-three__subtitle-word_3 {
  font-size: 96px;
  line-height: 83.5%;
  -webkit-text-stroke: 3px #fff;
  opacity: 0;
  -webkit-transform: translateX(55%);
      -ms-transform: translateX(55%);
          transform: translateX(55%);
}

.scene-three__text {
  max-width: 980px;
  width: 100%;
  color: #fff;
  font-size: 17px;
  line-height: 20px;
  font-family: "Roboto-Regular", sans-serif;
  text-align: center;
  margin: 0 auto;
  opacity: 0;
}

.scene-three__text p {
  margin: 0;
}

.navigation.scene-three__navigation {
  z-index: 3;
  top: 50%;
}

.navigation.scene-three__navigation .navigation__linst-link {
  -webkit-animation: none;
          animation: none;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.navigation.scene-three__navigation .navigation__linst-link.active {
  color: #414141;
  opacity: 1;
}

.navigation.scene-three__navigation .navigation__line {
  background: #414141;
}

.navigation.scene-three__navigation .navigation__line::before {
  top: 200px;
  width: 100%;
  height: 100px;
  background-color: #0A9F30;
  -webkit-animation: none;
          animation: none;
}

.scene-three-trigger {
  height: 100vh;
  opacity: 0;
  background-color: #fff;
  pointer-events: none;
  position: relative;
  overflow: hidden;
}

.scene-three-postview {
  width: 100%;
  height: 200vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #fff;
  overflow: hidden;
  z-index: 6;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.scene-three-postview #canvas5 {
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

.scene-three-postview img {
  position: absolute;
  left: calc(46% + 17px);
  top: calc(11% + 3px);
  max-width: 100%;
  display: block;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 0;
}

.scene-three-trigger_2 {
  height: 250vh;
  opacity: 0;
  background-color: #fff;
  pointer-events: none;
  position: relative;
  overflow: hidden;
}

.scene-four {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #fff;
  overflow: hidden;
  z-index: 6;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.scene-four__wrapper {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.scene-four__title {
  font-family: "Gilroy-Black", sans-serif;
  text-align: center;
  position: relative;
  margin-bottom: 35px;
  text-transform: uppercase;
}

.scene-four__num {
  position: absolute;
  top: -105%;
  left: 10%;
  color: #EDEDED;
  font-size: 343.2px;
  line-height: 83.5%;
  font-family: "Gilroy-Medium", sans-serif;
  z-index: 1;
}

.scene-four__num::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 33%;
  background-color: #fff;
  width: 100%;
}

.scene-four__label {
  color: #0A9F30;
  font-size: 96px;
  line-height: 83.5%;
  position: relative;
  z-index: 2;
  margin-bottom: 15px;
}

.scene-four__subtitle {
  font-size: 72px;
  line-height: 83.5%;
  color: #000;
  position: relative;
  z-index: 2;
}

.scene-four__subtitle span {
  color: #fff;
  -webkit-text-stroke: 3px #000;
  display: block;
  margin-top: 15px;
}

.scene-four__text {
  color: #1D1D1F;
  text-align: center;
  font-size: 17px;
  line-height: 20px;
  opacity: 0;
}

.scene-four__text p {
  margin: 0;
}

.navigation.scene-four__navigation {
  z-index: 3;
  top: 45%;
}

.navigation.scene-four__navigation .navigation__linst-link {
  -webkit-animation: none;
          animation: none;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.navigation.scene-four__navigation .navigation__linst-link.active {
  color: #414141;
  opacity: 1;
}

.navigation.scene-four__navigation .navigation__line {
  background: #EDEDED;
}

.navigation.scene-four__navigation .navigation__line::before {
  top: 300px;
  width: 100%;
  height: 100px;
  background-color: #0A9F30;
  -webkit-animation: none;
          animation: none;
}

.scene-four-trigger {
  height: 100vh;
  opacity: 0;
  background-color: #fff;
  pointer-events: none;
  position: relative;
  overflow: hidden;
}

.scene-five {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #fff;
  z-index: 6;
  position: relative;
  overflow: hidden;
}

.scene-five__wrapper {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.scene-five__hero {
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 72px;
  line-height: 83.5%;
  font-family: "Gilroy-Black", sans-serif;
  background-color: #EDEDED;
  -webkit-transform: scale(0.3);
      -ms-transform: scale(0.3);
          transform: scale(0.3);
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
}

.scene-five__hero span {
  max-width: 600px;
  width: 100%;
  text-align: center;
}

.scene-five__content {
  padding: 100px 0;
}

.scene-five__title {
  font-size: 17px;
  line-height: 20px;
  color: #1D1D1F;
  margin-bottom: 15px;
  font-family: "Roboto-Bold", sans-serif;
}

.navigation.scene-five__navigation {
  z-index: 3;
  top: 6%;
}

.navigation.scene-five__navigation .navigation__linst-link {
  -webkit-animation: none;
          animation: none;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.navigation.scene-five__navigation .navigation__linst-link.active {
  color: #414141;
  opacity: 1;
}

.navigation.scene-five__navigation .navigation__line {
  background: #CFCFCF;
}

.navigation.scene-five__navigation .navigation__line::before {
  top: 400px;
  width: 100%;
  height: 100px;
  background-color: #0A9F30;
  -webkit-animation: none;
          animation: none;
}

.scene-content__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 65px;
}

.scene-content__item:last-child {
  margin-bottom: 0;
}

.scene-content__item_3 .scene-content__label > span {
  font-size: 36px;
}

.scene-content__item_3 .scene-content__label > span span {
  color: #000;
}

.scene-content__item_3 .scene-content__label p span {
  font-size: 72px;
  line-height: 80%;
}

.scene-content__item_4 .scene-content__label > span {
  font-size: 36px;
}

.scene-content__item_4 .scene-content__label > span span {
  color: #000;
}

.scene-content__item_4 .scene-content__label p span {
  font-size: 72px;
  line-height: 80%;
}

.scene-content__item_5 .scene-content__label {
  line-height: 80%;
}

.scene-content__item_5 .scene-content__label > span {
  line-height: 100%;
}

.scene-content__column:first-child {
  max-width: 280px;
  width: 100%;
  text-align: right;
  margin-right: 18px;
}

.scene-content__column:last-child {
  max-width: 580px;
  width: 100%;
}

.scene-content__num {
  color: #DADADA;
  font-size: 144px;
  line-height: 83.5%;
  font-family: "Gilroy-Medium", sans-serif;
}

.scene-content__label {
  color: #0A9F30;
  font-size: 72px;
  line-height: 50%;
  font-family: "Gilroy-Bold", sans-serif;
  text-transform: uppercase;
}

.scene-content__label p {
  margin: 0;
}

.scene-content__label p > span {
  color: #000;
  font-size: 36px;
  line-height: 90%;
  display: block;
  margin-top: 7px;
}

.scene-content__list {
  font-size: 17px;
  line-height: 20px;
  color: #000;
  font-family: "Roboto-Regular", sans-serif;
}

.scene-content__list-item {
  margin-bottom: 20px;
}

.scene-content__list-item p {
  margin: 0;
}

.scene-content__list-item span {
  font-family: "Roboto-Bold", sans-serif;
}

.scene-content__list-item:last-child {
  margin-bottom: 0;
}

.scene-content__list-link {
  color: #0A9F30;
  text-decoration: underline;
}

.scene-content__list-box p {
  margin: 0;
}

@media (max-width: 1024px) {
  .header__logo {
    display: none;
  }

  .header__logo_md {
    display: block;
  }
}

.webp .hero { background-image: url(../img/hero/bg.webp); }